/* Custom stylsheet */

html, body {
	margin: 0;
	padding: 0;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
/* header styiling starts here */
#top-header {
    background-color: #fd563a;
    color: #ffffff;
}
/*#top-header:before {
    background-color: #ffffff;
    width: 800px;
    content: "";
    top: 0;
    position: absolute;
    right: calc(50% + 300px);
    height: 39px;
}*/
#top-header {
    position: relative;
    padding: 0;
    line-height: 38px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}
/*#top-header:after {
    position: absolute;
    bottom: 0;
    right: calc(50% + 273px);
    content: "";
    top: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 38px 0 0 27px;
    border-color: transparent transparent transparent #ffffff;*/
}
.bg-light {
    background-color: transparent !important;
    margin-top: 10px;
}
.btn-secondary {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.btn-secondary:hover {
    background-color: transparent;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.7);
}
#top-header .languages-switcher {
    display: inline-block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0 16px 0 22px;
    text-transform: uppercase;
    border-left: 1px solid rgba(255,255,255,0.3);
}
#top-header a {
    color: #ffffff;
}
#top-header .contact-info, #top-header .social-icons {
    float: none;
    display: inline-block;
    margin: 0;
}
#top-header .contact-info li {
    font-size: inherit;
    padding: 0 20px;
    margin: 0;
    border-left: 1px solid rgba(255,255,255,0.3);
    display: inline-block;
}
#top-header .social-icons li a {
    padding: 0 10px;
    display: block;
    border-left: 1px solid rgba(255,255,255,0.3);
}
#top-header .social-icons li:last-child a {
    border-right: 1px solid rgba(255,255,255,0.3);
}
ul.social-icons >li {
	display: inline-block;
	margin: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.4rem;
    padding-left: 1.4rem;
}
 .navbar-nav .nav-link i {
 	padding-right: 3px;
 }
 .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link {
 	color: #fff;
 	opacity: 1;
 }
 .bg-light {
    background-color: #faa453!important;
    margin-top: 9px;
}

.rupee {
    font-family: RupeeForadianRegular;
    font-weight: 400;
    display: inline!important;
    padding-right: 3px;
}
.lft-catgry-drpdwn {
	float: left;
	width: 250px;
    margin: 40px 0;
    padding-left: 15px;
    padding-right: 15px;
}
.grid-table {
    margin: 40px 0;
    width: calc(100% - 350px);
    float: right;
    padding-left: 15px;
    padding-right: 15px;
}
.product-grid {
    text-align: center;
    -webkit-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.34);
-moz-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.34);
box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.34);
padding-top: 5px;
padding-bottom: 5px;
background: #f2f2f2;
padding-right: 5px;
padding-left: 5px;
max-width: 24% !important;
    margin: 0 .5% !important;
}
.product-grid-top {
    background: #fff;
    float: left;
    width: 100%;
    padding-top: 5px;
}
.product-grid-imag img {
    max-width: 130px;
    max-height: 130px;
    width: auto;
    height: auto;
}
.product-grid-imag {
    vertical-align: middle;
}
.product-grid-top p {
    font-size: 16px;
    padding: 15px 0px;
    margin-bottom: 0;
    font-weight: 600;
}
.product-grid-top a {
	color: rgb(0, 0, 0, .7);
}
.rating {
    background-color: #fd563a;
    color: #fff;
    padding: 4px;
    border-radius: 8px;
}
.rupee, .prc-num, .rating-num {
	color: #fd563a;
	font-size: 16px;
	font-weight: 600;
}
.rating-num {
	float: right;
}
.rating_1 {
    float: left;
    width: 100%;
    padding: 0 10px;
}
span.rating {
    float: left;
}
.grid-prod-prc {
	color: rgba(0, 0, 0, 0.7);
}
.grid-prod-prc {
    color: rgba(0, 0, 0, 0.7);
    float: left;
    width: 100%;
    font-weight: 600;
    padding: 10px;
}
.prc-ttl {
    float: left;
}
.prc-num {
    float: right;
}
.grid-bottm {
    float: left;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px 10px 0px 5px;
    background: #fff;
}
.grid-bottm img.img-responsive {
    width: 100px;
    float: left;
}
a.grab_1 {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    float: right;
    font-size: 16px;
}